<head>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='templates/includes/_navbar.css') }}"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Alatsi&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Alata&display=swap"
    rel="stylesheet"
  />
  <script
    src="https://kit.fontawesome.com/716dad3718.js"
    crossorigin="anonymous"
  ></script>
</head>

<!--Navbar -->
<nav class="mb-5 navbar navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" href="/">NBA DATABASE</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Lakers Player Search </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat">Chat Room</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink-333"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >Analysis
        </a>
        <div
          class="dropdown-menu dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333"
        >
          <a class="dropdown-item" href="/draft">NBA Draft Analysis</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a target="_blank" href="https://github.com/AdrianAlpizar" class="nav-link waves-effect waves-light">
          <i class="fab fa-github"></i>
        </a>
      </li>
      <li class="nav-item">
        <a target="_blank" href="https://www.linkedin.com/in/adrian-alpizar/" class="nav-link waves-effect waves-light">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
